@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="container-fluid">
    @RenderBody()
</div>
    @RenderSection("scripts", false)
</body>
</html>